.mainContainer {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContainer h1 {
  color: white;
  font-size: 5.5vw;
  font-family: "Roobert", sans-serif;
  width: 60%;
}
@media screen and (max-width: 980px) {
  .mainContainer {
    padding: 10vh 5vw;
  }
  .mainContainer h1 {
    font-size: 62px;
    width: 100%;
    margin-top: 25vh;
  }
}
@media screen and (max-width: 480px) {
  .mainContainer {
    height: 70vh;
  }
  .mainContainer h1 {
    font-size: 32px;
    width: 100%;
    margin-top: 20vh;
  }
}
