.mainContainer {
  background-color: white;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.barChartContainer,
.doughnutChartContainer {
  display: flex;
  gap: 5vw;
  font-family: "Roobert", sans-serif;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.barChartContainer {
  background-color: white;
}
.doughnutChartContainer {
  background-color: black;
}
.barChartContainer h1,
.doughnutChartContainer h1 {
  font-size: 5.5vw;
  font-family: "Roobert", sans-serif;
  width: 60%;
  color: black;
  text-align: start;
}

.doughnutChartContainer h1 {
  color: white;
  text-align: start;
}
.barChartContainer .contentDiv p,
.doughnutChartContainer .contentDiv p {
  font-size: 24px;
  font-family: "Roobert", sans-serif;
  width: 90%;
  color: black;
  margin-top: 2vh;
  text-align: start;
}
.doughnutChartContainer .contentDiv p {
  color: white;
  text-align: start;
}
.barChart {
  width: 50%;
  padding: 2rem;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-shrink: 0;
}
.doughnutChart {
  width: 50%;
  background-color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-shrink: 0;
}
.signInButton {
  padding: 20px 40px;
  background-color: #4543d9;
  border: 0 !important;
  border-radius: 10px;
  color: white;
  font-size: 32px;
  font-weight: 600;
  transition: all 0.12s;
  cursor: pointer;
  font-family: "Roobert", sans-serif;
}
@media screen and (max-width: 980px) {
  .barChartContainer,
  .doughnutChartContainer {
    flex-direction: column;
    justify-content: center;
    gap: 2.5vh;
    padding: 5vh 0;
  }
  .barChart {
    width: 100%;
    height: 40vh;
  }
  .barChartContainer .contentDiv h1,
  .doughnutChartContainer .contentDiv h1 {
    text-align: center;
    width: 100%;
  }
  .barChartContainer .contentDiv p,
  .doughnutChartContainer .contentDiv p {
    text-align: center;
    width: 80%;
    margin: 2.5vh auto;
  }
  .doughnutChart {
    width: 100%;
    background-color: black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 480px) {
  .doughnutChart {
    height: 50vh;
    padding: 1rem;
  }
  .barChart {
    padding: 1rem;
    height: 30vh;
  }
  .barChartContainer .contentDiv h1,
  .doughnutChartContainer .contentDiv h1 {
    font-size: 32px;
  }
  .barChartContainer .contentDiv p,
  .doughnutChartContainer .contentDiv p {
    font-size: 16px;
  }
  .barChartContainer {
    height: 100vh;
  }
}
