.mainContainer {
  background-color: white;
  padding: 10vh 10vw;
  color: black;
  font-family: "Roobert", sans-serif;
  z-index: 100;
}
.carousalContainer::-webkit-scrollbar {
  width: 0 !important;
}
.mainHeading {
  font-size: 3.5vw;
  font-weight: 500;
  color: #000;
  margin: 0;
}
.headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.arrowOne {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 10px 10px;
  transform: rotate(90deg);
  border: 1px solid black;
  border-radius: 100%;
}
.arrowTwo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 10px 10px;
  transform: rotate(270deg);
  border: 1px solid black;
  border-radius: 100%;
}
.arrowOne:hover,
.arrowTwo:hover {
  background-color: #4543d9;
  color: white;
}
.carousalContainer {
  margin-top: 10vh;
  width: 100%;
  overflow: hidden;
  height: 60vh;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.carousal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 100%;
  font-family: "Roobert", sans-serif;
  gap: 2vw;
  transition: all 0.5s ease-in-out;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 30%;
  height: 100%;
  flex-shrink: 0;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 50vh;
}
.imageContainer {
  background-color: #eeeff2;
  height: 70%;
}
.card h1 {
  font-size: 1.5vw;
  font-weight: 600;
  color: #000;
  margin: 2vh 0;
}

@media screen and (max-width: 980px) {
  .mainContainer {
    padding: 10vh 5vw;
  }
  .mainHeading {
    font-size: 32px;
  }
  .carousalContainer {
    height: 40vh;
  }
  .card {
    width: 40%;
    height: 100%;
  }
  .imageContainer {
    height: 70%;
  }
}

@media screen and (max-width: 480px) {
  .arrowOne,
  .arrowTwo {
    display: none;
  }
  .carousalContainer {
    height: 50vh;
  }
  .carousal {
    overflow-x: auto;
  }
  .card {
    width: 60vw;
    height: 50vh;
  }
  .card h1 {
    font-size: 20px;
  }
}
